.footer {
    background-color: #1F1F1F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 50px 0;
    border-radius: 20px 20px 0 0;
    margin-top: 100px;
}

footer h2 {
    font-family: 'Freeman', sans-serif;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
}

.footer-section {
    text-align: left;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin: 8px 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-icon,
.instagram-icon,
.linkedin-icon {
    width: 18px;
    height: 18px;
}

.footer-logo {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.footer-logo img {
    width: 201px;
    height: 127px;
}

.footer-qr {
    display: flex;
    align-items: center;
    padding-top: 25px;
}

.footer-qr img {
    width: 151px;
    height: 151px;
}
